[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "eixport"]
	path = eixport
	url = https://github.com/atmoschem/eixport
	shallow = true
	registered = true
[submodule "EmissV"]
	path = EmissV
	url = https://github.com/atmoschem/emissv
	shallow = true
	registered = true
[submodule "vein"]
	path = vein
	url = https://github.com/atmoschem/vein
	shallow = true
	registered = true
